/*--responsive--*/
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1024px){
.banner-text {
  width: 70%;
  margin: 0 0 0 3em;
}	
.banner {
  min-height: 492px;
}
.b-animate span {
  padding-top: 4em;
}
.b-from-left {
  min-height: 288px;
}
.top-in span {
  padding: 5em 0 0;
}
.b-from-top {
  min-height: 350px;
}
.top-in1 span {
  padding: 2.3em 0 0;
}
.top-in1 {
  min-height: 166px;
}
.top-in2 span {
  padding: 2em 0 0;
}
.top-in2 {
  min-height: 157px;
}
/*--banner--*/
h6.shop-top {
  font-size: 1em;
}
.tags li a {
  font-size: 0.8em;
}
 h3.best,h3.tag,h3.cate {
  font-size: 1.7em;
}
h6.best2 {
  font-size: 1em;
  font-family: 'Lato', serif;
  line-height: 1.3em;
}
.six1 {
  padding: 2em 1em 0;
}
/*--single--*/
.single-top {
    width: 55%;
    float: left;
}
.single-top-in {
    width: 45%;
    float: right;
}
.available ul li select {
  margin-left: 9%;
}
.available ul li.size-in select {
  margin-left: 13%;
}
.cont {
    min-height: 58em;
}
.ca-rt {
    padding: 1.3em 0 0;
	width: 33%;
}
p.tun {
    width: 64%;
}
.flex-control-nav {
    left: 368px ! important;
}
.flex-control-thumbs li {
    width: 24.2%;
    margin: 0 1% 3% 0 ! important;
}
.sb-search {
    right: 140px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 54%;
}
.total-item h4 {
    margin-right: 4em;
}
.banner-text {
    padding: 12em 0 1em;
}
.amet-sed input[type="submit"] {
    width: 39%;
}
}
@media(max-width:768px){
.h_menu4 {
  width: 50%;
}
.banner-text {
  width: 90%;
  margin: 0 0 0 3em;
}
.banner-text h3 {
  font-size: 2.5em;
}
.grid-top {
    float: left;
    width: 25%;
}
.grid-mid {
  float: left;
  width: 50%;
}
.twit {
  top: 45%;
}
.amet-sed {
  margin-bottom: 2em;
}
.footer-top-at {
  padding: 3em 0px 2em;
}
.men img,.col-md1 img,.men1 img,.men2 img{
	width:100%
}
.men1,.men2 {
  float: left;
  width: 50%;
}
.b-from-left {
  min-height: 213px;
}
.b-from-top {
  min-height: 553px;
}
.b-animate span {
  padding-top: 3.2em;
}
.top-in span {
    padding: 13em 0 0;
}
.top-in1 {
  min-height: 261px;
}
.top-in1 span {
  padding: 6em 0 0;
}
.top-in2 {
  min-height: 254px;
}
.top-in2 span {
  padding: 5.5em 0 0;
}
/*--contact--*/
.contact-in {
  margin: 1em 0 0;
}

/*--blog--*/
.grid_3 {
  float: left;
  width: 50%;
}
.grid-1{
	float:none;
	width:100%;
}
/*--product--*/
.bottom-cd{
float:left;
width:33.3%;
}
.product-price {
  width: 50%;
}
.six1 {
  width: 87%;
  padding: 4.5em 1em 0;
}

/*--single--*/
.single-top-in {
    width: 100%;
    margin-left: 0%;
    float: left;
    margin: 6em 0 0;
}
.single-top {
  width:52%;
}
.single-para h4 {
  font-size: 2em;
}
.available ul li select {
  margin-left: 14.5%;
}
.available ul li.size-in select {
  margin-left: 16.5%;
}
.left-account {
  margin-top: 2em;
}
a.cpns {
  padding: 7px;
  font-size: 0.7em;
}
.men {
  margin-bottom: 2em;
}
.cont {
    min-height: 106em;
}
.b-animate span {
    font-size: 1.2em;
}
.amet-sed h4 {
    font-size: 1.2em;
}
.amet-sed {
    float: left;
    width: 25%;
}
.bottom-cd.simpleCart_shelfItem {
    width: 50%;
}
.pl-rgt {
    float: right;
    width: 76%;
    padding: 1.6em 0em 1.6em 1em;
}
.pl-lft {
    float: left;
    width: 22%;
}
.pro-grid {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 9em 0 0;
}
.flexslider .slides img {
    width: 100% ! important;
    display: block;
}
.top-sing {
    margin-bottom: 3em;
}
.pro-grid{
	padding: 9em 0 0;
}
.imagezoom-view {
    position: absolute;
    left: 372.5px ! important ;
    top: 233.375px ! important ;
    width: 375px ! important ;
    height: 374px ! important ;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important ;
}
.amet-sed input[type="submit"] {
    width: 56%;
}
}
@media(max-width:640px){
.banner-text {
  padding: 7em 0 1em;
}	
.grid-top p {
  font-size: 0.9em;
}
.pro-grid {
  padding: 8.5em 0 0;
}
.blog {
  padding: 2em 0;
}
.contact {
  padding: 2em 0;
}
.account {
  padding: 2em 0;
}
.register {
  padding: 2em 0;
}
.b-animate span {
  padding-top: 2.5em;
}
.banner {
  min-height: 400px;
}
ul.callbacks_tabs.callbacks1_tabs {
  left: 42%;
}
.b-from-left {
  min-height: 170px;
}
.top-in span {
    padding: 10.5em 0 0;
}
.b-from-top {
  min-height: 448px;
}
.top-in1 {
  min-height: 214px;
}
.top-in1 span {
    padding: 5em 0 0;
}
.top-in2 span {
    padding: 4em 0 0;
}
.top-in2 {
  min-height: 204px;
}
.cont {
    min-height: 90em;
}
.bottom-cd.simpleCart_shelfItem {
    padding-right: 2em;
}
.flex-control-nav {
    left: 318px ! important;
}
.imagezoom-view {
    position: absolute;
    left: 304.5px ! important;
    top: 233.375px ! important;
    width: 316px ! important;
    height: 374px ! important;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important;
}
.amet-sed input[type="submit"] {
    width: 64%;
}
}
@media(max-width:480px){	
.search {
 display: none;
}
.header-left {
  float: none;
  margin-top: 0px;
  text-align: center;
}
.banner-text h3 {
  font-size: 1.5em;
}
.banner-text p {
  font-size: 1em;
}
.banner {
  min-height: 294px;
}
.banner-text {
    padding: 5em 0 1em;
}
.grid-top {
  width: 100%;
    margin-bottom: 1em;
}
.grid-top p {
  font-size: 1.2em;
}
.content-top {
  padding: 2em 0;
}
.grid-in {
  padding: 0em 0 0;
}
.content-bottom ul li {
  border: none;
  width: 33%;
}
.product-price {
  width: 63%;
}
.banner-text {
  margin: 0 0 0 2em;
}
.pro-grid span {
  font-size: 0.9em;
}
.pro-grid {
  padding: 6.5em 0 0;
}
a.item_add p.number {
  font-size: 0.9em;
}
.b-from-left {
  min-height: 440px;
}
.b-animate span {
  padding-top: 6em;
}
.top-in span {
  padding: 4.5em 0 0;
}
.b-from-top {
  min-height: 321px;
}
.top-in1 span {
  padding: 2em 0 0;
}
.top-in1 {
  min-height: 154px;
}
.top-in2 span {
  padding: 1.5em 0 0;
}
.top-in2 {
  min-height: 144px;
}
/*--single--*/
.cd-tabs-navigation a {
  font-size: 0.9em;
}
.top-comment-right {
  width: 81%;
}
.grid_3 {
  float: left;
  width: 100%;
}
.blog h1 {
  font-size: 2em;
  margin: 0 0 0.5em;
}
.single-bottom h3 {
  font-size: 2em;
}
.single-bottom input[type="submit"] {
  width: 18%;
}
.contact h1 {
  font-size: 2em;
}
.contact-form {
  padding: 1em 0;
}
.account h1 ,.register h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.2em;
}
.cont {
    min-height: 178em;
}
.amet-sed {
    width: 50%;
}
.logo h1 a {
    font-size: 1.1em;
}

.bottom-cd.simpleCart_shelfItem {
    padding-right: 1em;
}
p.tun {
    font-size: 0.85em ! important;
    width: 66%;
}
.product1 span {
    font-size: 1em;
}
a.item_add p.number {
    padding: 0em 0em;
}
.ca-rt {
    width: 26%;
}
.content-top h1 {
    font-size: 1.5em;
}
.content-top-bottom h2 {
    font-size: 1.5em;
}
.content {
    top: -47px;
}
.flex-control-nav {
    left: 241px ! important;
}
.flex-control-nav {
    left: 240px ! important;
}
.imagezoom-view {
    position: absolute;
    left: 221.5px ! important;
    top: 233.375px ! important;
    width: 238px ! important;
    height: 374px ! important;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important;
}
.single-top-in {
    width: 100%;
    margin-left: 0%;
    float: left;
    margin: 1em 0 0;
}

}
@media(max-width:320px){
.logo {
  width: 45%;
}
.logo img{
  width: 100%;
}
.imagezoom-view {
    position: absolute;
    left: 155.5px ! important;
    top: 207.375px ! important;
    width: 143px ! important;
    height: 374px ! important;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important;
}
}
@media(max-width:320px){
.header-left ul li a {
  margin: 0 1em 0 0;
 font-size: 1em;
}
.box_1 h3 {
  font-size: 1em;
}
.header-top {
  padding: 10px 0;
}
.logo {
  width: 41%;
}
.h_menu4 {
  margin: 1px 0 0px;
}
.logo img{
	width:100%;
}
.head-top {
  padding: 0.6em 0;
}
.banner-text h3 {
  font-size: 0.9em;
  line-height:1.5em;
    letter-spacing: 3px;
    margin-bottom: 0.2em;
}
.banner-text p {
 font-size: 0.8em;
 margin:0.5em 0 0;
}
.banner-text a {
  font-size: 0.9em;
  padding: 0.3em 0.5em;
}
.banner {
  min-height: 158px;
}
.content-top h1 {
  font-size: 1.3em;
    margin-bottom: 0.8em;
}
.grid-mid {
  padding: 5px;
}
.twit h4 {
  font-size: 1em;
}
.amet-sed {
  margin-bottom: 1em;
  padding: 0;
}
.amet-sed h4 {
  font-size: 1.2em;
  margin: 0 0 0.3em;
}
ul.nav-bottom li a {
  font-size: 0.9em;
}
.amet-sed input[type="submit"] {
    width: 33%;
}
.content-bottom {
  padding: 1em 0;
}
.grid-middle {
  padding: 0.1em 0 0;
}
.content-top {
  padding: 1em 0 0;
}
.grid-top p {
  font-size: 1.1em;
}
.banner-text {
  padding: 4em 0 1em;
  margin: 0 0 0 1em;
}
ul.callbacks_tabs.callbacks1_tabs {
  left: 36%;
}
.banner {
  min-height: 203px;
}
ul.callbacks_tabs.callbacks1_tabs {
  bottom: 8%;
}

.box_1 p a {
  font-size: 0.9em;
}
.header-left ul {
  margin-top: 13px;
}
.content-top-bottom h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
}
.men {
  margin-bottom: 1em;
}
.col-md2 {
  padding: 15px 0 0;
}
.product {
  padding: 2em 0;
}
.product-price {
  width: 100%;
  padding: 0;
}
.bottom-cd {
  padding: 0 3px;
}
p.tun {
  font-size: 0.8em;
}
a.item_add p.number {
  font-size: 0.8em;
  padding: 0.5em 0.5em;
}
.pro-grid span {
  font-size: 0.8em;
  padding: 0.4em 0.8em;
}
.pro-grid {
  padding: 8.5em 0 0;
}
.bottom-product {
  margin-bottom: 1em;
}
.pagination {
  margin: 10px 0 0;
}
.footer-top-at {
  padding: 2em 0px 2em;
}
.grid_3 {
  padding: 0;
}
.blog-poast-info ul li a,.blog-poast-info ul li span{
  font-size: 0.8em;
}
.grid_3 {
  margin-bottom: 1em;
}
.single-bottom h3 {
  font-size: 1.5em;
}
.single-bottom input[type="text"], .single-bottom textarea {
  padding: 0.6em;
}
.single-bottom textarea {
  min-height: 100px;
}
.single-bottom input[type="submit"] {
  width: 25%;
}
.single-bottom {
  padding: 0em 0 0em;
}
.contact-grid ,.contact-in{
  padding: 0;
}
.contact-grid input[type="text"], .contact-grid textarea {
  padding: 0.8em;
}
.send input[type="submit"] {
  width: 24%;
}
.account-top input[type="text"], .account-top textarea, .account-top input[type="password"]
,.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
  padding: 0.5em;
}
.account-top input[type="submit"] {
  width: 33%;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.1em;
}
.product-price1,.single-top,.single-top-in {
  padding: 0;
}
.single-para h4 {
  font-size: 1.5em;
}
.available ul li select {
  margin-left: 6.5%;
}
.available ul li.size-in select {
  margin-left: 10.5%;
}
.cd-tabs.is-ended {
  margin: 1em 0 1em;
  padding: 0 0em;
}
.footer-class p {
  font-size: 1em;
}
.button a {
  font-size: 0.9em;
}
.cart-items,.cart-total {
  padding: 0;
}
.account-top input[type="submit"],.register-bottom-grid input[type="submit"] {
  font-size: 1em;
}
.account-top,.left-account,.register-top-grid,.register-bottom-grid {
  padding: 0;
}
.b-animate span {
    padding-top: 4.2em;
    font-size: 1.3em;
}
.b-from-left {
  min-height: 247px;
}
.top-in span {
    padding: 3.5em 0 0;
}
.b-from-top {
  min-height: 194px;
}

 .top-in1 span {
  padding: 1.8em 0 0;
}
.top-in1 {
  min-height: 92px;
}
.top-in2 span {
    padding: 3.5em 0 0;
}
.top-in2 {
    min-height: 165px;
}
.content {
    top: -28px;
    padding: 1em;
}
.men1, .men2 {
    float: none;
    width: 100%;
    margin: 1em 0;
	padding:0;
}
.grid-top {
    width: 100%;
    margin-bottom: 2em;
}
.cont {
    min-height: 145em;
}
.footer {
    background: #141414;
    padding: 1.5em 0 0;
}
.logo h1 a {
    font-size: 0.75em;
}
.sb-search {
    right: 90px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 68%;
}
.bottom-cd.simpleCart_shelfItem {
    padding-right: 0em;
    width: 100%;
    margin: 0 0 1em;
}
.pro-du {
    padding: 2em 0;
}
.grow h2 {
    font-size: 1.5em;
}
.grow {
    padding: 1em 0;
}
.pl-rgt {
    width: 52%;
}
.pl-lft {
    float: left;
    width: 46%;
}
.pr-btm {
    margin: 3em 0 0;
}
.amet-sed p {
    font-size: 0.9em;
}
.amet-sed h4 {
    font-size: 1.1em;
    margin: 0 0 1em;
}
.footer-top-at {
    padding: 2em 0px 0em;
}
.footer-class p {
    font-size: 0.9em;
    line-height: 1.8em;
}
.footer-class {
    padding: 0.8em 0;
}
.send input[type="submit"] {
    padding: 0.3em 0.8em;
}
.flex-control-nav {
    left: 149px ! important;
}
.available ul li {
    font-size: 1em;
    width: 50%;
}
.map iframe {
    padding: 0 0px;
}
.flex-direction-nav .flex-prev {
    opacity: 1;
    left: -27px ! important;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
    left: -27px ! important;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right:-20px ! important;
}
.flex-direction-nav .flex-next {
  right: -30px ! important;
}
.amet-sed {
    width: 100%;
}
}















