<div class="footer">
				<div class="container">
			<div class="footer-top-at">
			
				<div class="col-md-3 amet-sed">
				<h4>MORE INFO</h4>
				<ul class="nav-bottom">
						<li><a href="about us.php">About us</a></li>
						<li><a href="contact.php">How to order</a></li>
						<li><a href="FAQs.php">FAQs</a></li>
						<li><a href="#">Location</a></li>
						<li><a href="T&C.php">Terms Of Use</a></li>
						<li><a href="#"></a></li>	
					</ul>	
				</div>
				<div class="col-md-3 amet-sed">
					<h4>Quick Links</h4>
					<ul class="nav-bottom">
					
						<li><a href="FAQs.php">Why Use City Guide</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">Advice</a></li>
						<li><a href="contact.php">Contact Us</a></li>	
					</ul>
					
				</div>
				
					
				</div>
				<div class="col-md-3 amet-sed" style="margin-top:-5%;">
				
				<h4>CONTACT US</h4>
				<p class="titles">Head Office : </p>
					<p>54 Osadebay-Way,Asaba Delta State, Nigeria.</p>
					<p class="titles">Email:</p><p style="display:inline;">	cityguideproperties@gmail.com</p>
					<p class="titles">Telephone : </p>
					<p>+234-9050386983,<br>+234-9090945539,<br>+234-8088679099,<br>+234-8034190349.</p>
					<div class="social">
				<ul>
					<li><a href="#"><i class="facebok"> </i></a></li>
					<li><a href="#"><i class="twiter"> </i></a></li>
					<li><a href="#"><i class="inst"> </i></a></li>
					<li><a href="#"><i class="goog"> </i></a></li>
						<div class="clearfix"></div>	
				</ul>
			</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-class">
		<p>© 2016 City Guide Properties . All Rights Reserved | Designed by MrChipz & Syndicate Technologies </p>
		</div>
		</div>