<div class="header">
	<div class="header-top">
	<div class="container">
			<div class="head-top">
				<div class="logo">
					<h3><a href="index.php">City Guide<br>Quest 4 Properties</h3>
				
					</a>
				</div>
		  <div class=" h_menu4">
				<ul class="memenu skyblue">
					  <li><a class="color8" href="index.php">HOME</a></li>	
				      <li><a class="color1" href="#">SERVICES</a>
				      	<div class="mepanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><h4>Sells</h4></li>
										<li><a href="products.html">Building</a></li>
										<li><a href="products.html">Incomplete Building</a></li>
										<li><a href="products.html">Filling station</a></li>
										<li><a href="products.html">Hectares of Land</a></li>
										<li><a href="products.html">Acres of Land</a></li>
										
										
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><h4>To Lease</h4></li>
										<li><a href="products.html">Openspace</a></li>
										<li><a href="products.html">Land 50 X 100</a></li>
										<li><a href="products.html">Land 100 X 100</a></li>
										<li><a href="products.html">Land 100 X 120</a></li>
										<li><a href="products.html">Land 100 X 150</a></li>
										<li><a href="products.html">Land 100 X 200</a></li>
										<li><a href="products.html">Land 100 X 300</a></li>
									
										
									</ul>	
								</div>							
							</div>
							<div class="col1">
								<div class="h_nav">
									<ul>
										<li><h4>Rents</h4></li>
										<li><a href="products.html">Office Accommodation</a></li>
										<li><a href="products.html">Ware House</a></li>
										<li><a href="products.html">Stores</a></li>
										<li><a href="products.html">Bungalows</a></li>
										<li><a href="products.html">Duplex</a></li>
										<li><a href="products.html">Bed Sitter</a></li>
										<li><a href="products.html">Two Bed rooms Flat</a></li>
										<li><a href="products.html">Three Bed rooms Flat</a></li>
										<li><a href="products.html">Four bed rooms Flat</a></li>
										<li><a href="products.html">Single room</a></li>
										<li><a href="products.html">self contained</a></li>
										<li><a href="products.html">Two rooms</a></li>
										
									</ul>	
								</div>												
							</div>
						  </div>
						</div>
					</li>

					<li><a href="about us.php" class="color6">ABOUT US</a></li>
					<li><a href="gallery.php" class="color6">GALLERY</a></li>
					 <li><a class="color6" href="contact.html">CONTACT US</a></li>

			  </ul> 
			</div>
				
				<div class="clearfix"> </div>
		</div>
		</div>
	</div>
	<br>